html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}


body
{
	font-family: Gotham;
	padding: 1px;
	margin: 1px;
	background-color: #4682b4;
}
#menu
{
}	
nav
{
	background: snow;
	padding: 15px;
	font-size:15px;
	text-align: center;
	
}

.pictext
{
	padding: 0;
	margin: 0;
	font-size: .75em;
}

h1
{
	color: mediumblue;
	text-align: center;
	font-family: Caslon;
	background: linear-gradient(to bottom, lightgray, #4682b4);
}

h2
{
	padding-left: 35px;
	font-family: "Proxima Nova";
}

footer
{
	text-transform: uppercase;
}